@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import 'include-media';
@import 'variables';

$breakpoints: (phone: 570px, tablet: 768px, desktop: 1024px);

input {
  -webkit-border-radius:0; 
  border-radius:0;
}

.App {
  text-align: center;
  font-family: 'Courier Prime', monospace;
  height: 100vh;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.content {
  @include media("<=tablet") {
    width: $portraitContentWidthMobile;
  }
  @include media(">tablet") {
    width: $portraitContentWidthDesktop;
  }
}

.total {
  width: 100%;
}

.total * {
  display: inline;
  justify-content: space-between;
  height: min(5vw, 5vh);
  font-size: min(5vw, 5vh);
}

.main-input {
  font-family: inherit;
  border: 0 0 1px black;
  width: 40%;
}

*:focus {
  outline: none;
}

.currencies {
  padding-top: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
  font-size: calc(10px + 3vmin);
}

.currencies * {
  cursor: pointer;
}

.options {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.options * {
  font-size: auto;
  padding: 5px;
  cursor: pointer;
}

.addition {
  padding-top: 50px;
}

.addition * {
  font-size: 5vh;
}

.addition-property {
  display: block;
  width: 100%;
  text-align: end;
}

.addition-property hr {
  border-top: 1px solid black;
}